@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 2px;
}

.message-container [class^="react-scroll-to-bottom--"]{
  padding: 10px;  
  height: fit-content;
  max-height: 580px;
  overflow: scroll;
  padding: 20px;  
  background-color: transparent;
  padding-top: 50px;

}