@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "math";
}
::-webkit-scrollbar{
    width: 2px;
}

.message-container [class^="react-scroll-to-bottom--"]{
  padding: 10px;  
  height: max-content;
  max-height: 630px;
  overflow: scroll;
  padding: 10px;  
  background-color: transparent;
  padding-top: 60px;
  padding-bottom:40px;
 

}