@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 2px;
}
.message-container .react-scroll-to-bottom--css-udiqg-1n7m0yu{
  height: 480px;
  overflow: scroll;
  padding: 20px;
}